{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"},  % JSON encoding/decoding
    {jose, "1.11.10"}  % JWT library
]}.

{relx, [
    {release, {auction_app, "1.0.0"}, [auction_app, mnesia, cowboy, jsx]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.
